<div class="d-flex"  th:fragment="menu-fragment">
    <ul class="nav nav-pills menu-container">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/rekognition">Rekognition</a>
                <a class="dropdown-item" href="/capturePhoto">Capture your Photo</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="logout-link">Logout</a>
        </li>
    </ul>
</div>